{{>header}}
<h1>Games History</h1>
<table>
  <thead>
    <tr>
    <th>Game Name</th>
    <th>Player One</th>
    <th>Player Two</th>
    <th>-</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.gameName}}</td>
      <td class="{{#if playerOneIsWinner}}color-green{{else}}color-red{{/if}}">{{this.playerOne}}</td>
      <td class="{{#if playerTwoIsWinner}}color-green{{else}}color-red{{/if}}">{{this.playerTwo}}</td>
      <td class="action">
        <form action="/game/history/playback" method="post">
          <input type="hidden" name="csrf" value="{{../csrf}}" />
          <input type="hidden" name="gid" value="{{this.gameId}}" />
          <button type="submit" class="button">PlayBack</button>
        </form>
        <form action="/game/history/json" method="post">
          <input type="hidden" name="csrf" value="{{../csrf}}" />
          <input type="hidden" name="gid" value="{{this.gameId}}" />
          <button type="submit" class="button">JSON</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{>footer}}