{{>header}}
<h1>Games History</h1>
<table>
  <thead>
    <tr>
    <th>Game Name</th>
    <th>Player One</th>
    <th>Player Two</th>
    <th>-</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.gameName}}</td>
      <td class="{{#if playerOneIsWinner}}color-green{{else}}color-red{{/if}}">{{this.playerOne}}</td>
      <td class="{{#if playerTwoIsWinner}}color-green{{else}}color-red{{/if}}">{{this.playerTwo}}</td>
      <td><a href="/game/history/playback?g={{this.gameId}}">PlayBack</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{>footer}}